body {
    background: url("../images/d.png");
    background-image: url("../images/d.png");
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-attachment: fixed;
    /*background-image: url("../images/12.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
     background-size: 100% 100%;
     min-width: 100%;
     min-height: 100%;
}*/
}
.map-body {
    background-image: url("../images/12.jpg");
     background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-attachment: fixed;
}
btn {
    margin: -125px 0 0 -125px;
    backface-visibility: 5%;
}
button-group {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 16px 18px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 20px;
}
.btn-default {
    margin: 2%;
    margin-top: 37%;
    color: #faebd7;
    background-color: transparent;
    border-color: #faebd7;
    border-width: 1.3px;

}
.nav nav-pills {
    padding-left: initial;
    padding-right: 0px;
    font-size: 18px;
}
.navbar {
    padding-left: 3px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 0px;
}
.map-container{
    width: 100%;
    margin-top: -10px;
}
img {
 width: 100%;
}
.body-wrapper{
margin-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #a7b9bd
}
#panel {
    position: absolute;
    top: 50%;
    left: -400px;
    margin: -40px 0 0 0;
    overflow: hidden;
}
#panel-content {
    background: #EEE;
    border: 1px solid #CCC;
    width: 388px;
    height: 80px;
    float: left;
    padding: 3px 5px;
}
#panel-sticker {
    float: left;
    position: relative;
    background: orange;
    padding: 3px 20px 3px 5px;
    margin: 0;
    cursor: pointer;
}
#panel-sticker .close {
    position: absolute;
    right: 3px;
    top: 3px;
}

.modal-content{
    background: #d7d5d7;
}
#demo{
    padding: 1%;
}
.tab-pane{
  height:300px;
  overflow-y:scroll;
}