<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">City Conditions Contoller</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">General<span class="sr-only">(current)</span></a></li>
        <!--<li><a href="#">Radiation</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Air quality <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">NH3</a></li>
            <li><a href="#">CO2</a></li>
            <li><a href="#">Smoke</a></li>
            <li><a href="#">Smoke</a></li>
          </ul>
        </li>-->
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Search">
        </div>
        <button type="button" class="btn" (click)="onSearch()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Submit
        </button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="FAQOpen()">FAQ</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<body class="map-body">

  <!--<div id="panel">
    <div id="panel-content">
      Какой-то контент, который вы хотите показать.<br/> Несколько строк<br/> для наглядности
    </div>
    <div id="panel-sticker">
      <span class="glyphicon glyphicon-info-sign">Открыть</span>
      <div class="close">×</div>
    </div>
  </div>-->
  <div class="body-wrapper">

    <div class="map-container">
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <sebm-map-polygon *ngFor="let poligon of poligons" [paths]="poligon.paths" [clickable]="true" strokeColor="#00000" [strokeWeight]=".6"
          [editable]="false" [draggable]="false" (polyClick)="click(poligon)" (polyDblClick)="delete($event)">
        </sebm-map-polygon>
      </sebm-google-map>

    </div>
  </div>
  <footer>
    <p>&copy; 2017, GrinkoGroup</p>
  </footer>


<!-- Modal -->
<div [class]="isFAQVisible ? 'modal show' : 'modal fade'" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="FAQClose()" >&times;</button>
        <h4 class="modal-title">FAQ</h4>
      </div>
      <div class="modal-body">
        <div class="tab-pane">
        <h4>What is CO2?</h4>
        <p>CO2 is formed by human action is called anthropogenic CO2. Plowing the land, making cement, and burning fossil fuels for energy all create anthropogenic CO2, which adds carbon to the global carbon cycle. Between 1751 and 2013, approximately 1440 billion metric tons of CO2 has been emitted to the atmosphere from these sources. This is raising concerns about climate change. The U.S. Environmental Protection Agency has ruled CO2 a pollutant in order to be able to regulate anthropogenic CO2 emissions from human activities under the Clean Air Act of 1970.</p>
        <h4>What is NH3?</h4>
        <p>The chemical formula NH3 describes the compound ammonia, also known as azane. Pure ammonia is a colorless, pungent smelling gas at room temperature and standard atmospheric pressure.When you breathe in ammonia gas or ammonium hydroxide vapors, it will both form ammonium hydroxide and deposit ammonium hydroxide on all of the wet surfaces of your eyes, mouth, throat, bronchial passages, down to your tiniest lung passages, the alveoli. 
At first inhalation, a human or animal will have an immediate, choking, coughing reaction to the gas or vapors, which is why ammonia capsules used to be used to awaken or "revive" drowsy or semi-conscious persons. </p>
        <h4>Is the smoke dangerous?</h4>
        <p>The smoke kills by a combination of thermal damage, poisoning and pulmonary irritation caused by carbon monoxide, hydrogen cyanide and other combustion products.</p>
        <h4>What is noise pollution?</h4>
        <p>Noise pollution or noise disturbance is the disturbing or excessive noise that may harm the activity or balance of human or animal life. The source of most outdoor noise worldwide is mainly caused by machines and transportation systems, motor vehicles, aircraft, and trains.High noise levels can contribute to cardiovascular effects in humans and an increased incidence of coronary artery disease. In animals, noise can increase the risk of death by altering predator or prey detection and avoidance, interfere with reproduction and navigation, and contribute to permanent hearing loss.</p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="FAQClose()" >Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div [class]="isInfoVisible ? 'modal show' : 'modal fade'" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="FAQClose()" >&times;</button>
        <h4 class="modal-title">Information about area</h4>
      </div>
      <div class="modal-body">
        <h4> Level of CO2 - {{CO2}}</h4>
        <h4> Level of NH3 - {{NH3}}</h4>
        <h4> Level of smoke pollution- {{smoke}}</h4>
        <h4> Level of sound pollution- {{sound}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="FAQClose()" >Close</button>
      </div>
    </div>

  </div>
</div>