<div class="start-body">
  <div class="button-group">
    <div class="col-md-4"></div>
    <button type="button" class="btn btn-default btn-lg col-md-2" (click)="onStart()">Start</button>
    <button type="button" class="btn btn-default btn-lg col-md-2" data-toggle="collapse" data-target="#demo">About</button>
    <div class="col-md-4"></div>
  </div>
  <div id="demo" class="collapse">
  <h4>  Application is designed to simplify the procedure of checking
    conditions in big cities, such as Kharkiv. 
    It is actually just a studing project, which can be improved to be used by huge amount of users.  </h4>
  </div>
</div>
